body {
  margin: 0;
  box-sizing: border-box;
}
ul {
  background-color: #4af44a;
  /* margin: 0; */
  padding: 0;
  height: 80px;
}
li {
  display: inline-block;
  margin-top: -22px;
  cursor: pointer;
  color: black;

  margin-left: 150px;
  font-weight: bold;
  font-size: 19px;
  font-family: sans-serif;
}
li.navitem {
}
li:hover {
  color: crimson;
}
h2.heading {
  font-family: sans-serif;
  text-align: center;
  background-color: red;
  width: 800px;
}
