body {
  margin: 0;
  box-sizing: border-box;
}
ul {
  background-color: #554af4;
  /* margin: 0; */
  padding: 0;
  height: 80px;
}
li {
  display: inline-block;
  margin-top: -22px;
  cursor: pointer;
  color: black;

  margin-left: 150px;
  font-weight: bold;
  font-size: 19px;
  font-family: sans-serif;
}

li:hover {
  color: hsl(52, 100%, 50%);
}
h2.heading {
  font-family: sans-serif;
  text-align: center;
  background-color: red;
  width: 800px;
}
